<?xml version="1.0"?>
<model>
  <name>black_line_maze</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Ahmed</name>
    <email>example@email.com</email>
  </author>
  <description>
    Continuous black line maze for line-following robot.
  </description>
</model>

